
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        <h1>Crear Proveedor</h1>
        <ul>
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Listado de Clientes", "Listado", "Clientes")</li>
            <li>@Html.ActionLink("Crear Cliente", "Crear", "Clientes")</li>
            <li>@Html.ActionLink("Listado Proveedores", "Listado", "Proveedores")</li>

        </ul>
        
    </div>
</body>
</html>
