
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        <h1>Crear Cliente</h1>
        <ul>
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Listado Cliente", "Listado", "Clientes")</li>
            <li>@Html.ActionLink("Listado Proveedores", "Listado", "Proveedores")</li>
            <li>@Html.ActionLink("Crear Proveedores", "Crear", "Proveedores")</li>
        </ul>

    </div>
</body>
</html>
